.coverage
.mypy_cache
.tox
.vscode
.nvimrc
.venv
.vimrc

__pycache__

*.egg-info
dist

*~
*.pyc

# User env file for the server directory
server/configuration/env.yml

# Generated configuration
server/configuration/server.yml
server/configuration/master-key.yaml
server/configuration/.vault_pass

# Generated docs and their sources
cli/autodocs/source/tft.artemis_cli.rst
cli/autodocs/source/tft.artemis_cli.*.rst
cli/autodocs/build/*
server/autodocs/source/tft.artemis.rst
server/autodocs/source/tft.artemis.*.rst
server/autodocs/build/*
docs/public/*

# Coverage HTML report
htmlcov
