.coverage
.mypy_cache
.tox
.vscode
.nvimrc
.venv
.vimrc

__pycache__

*.egg-info
dist

*~
*.pyc


# Generated configuration
server/configuration/server.yml
server/configuration/master-key.yaml
server/configuration/.vault_pass

# Generated docs and their sources
server/autodocs/source/tft.artemis.rst
server/autodocs/source/tft.artemis.*.rst
server/autodocs/build/*
docs/public/*

# Coverage HTML report
htmlcov
