# Several commits were made by Milos from a working copy with his personal credentials, spoiling the history
# with a personal e-mail.
Milos Prchlik <mprchlik@redhat.com> <happz@happz.cz>
Anna Khaitovich <akhaitov@redhat.com> <akhaitovich@gmail.com>
Inessa Vasilevskaya <ivasilev@redhat.com> <inavasilevskaya@gmail.com>
