[project]
name = "tft-artemis-cli"
version = "0.0.3"
description = "Command-line tool for Artemis service"
authors = [
    { name = "Milos Prchlik", email = "mprchlik@redhat.com>" },
    { name = "Ondrej Ptak", email = "optak@redhat.com>" },
]
license = "Apache-2.0"

requires-python = "~=3.9.0"

dependencies = [
  "requests",
  "click",
  "jq",
  "jsonschema",
  "ruamel.yaml",
  "urlnormalizer",
  "click_completion",
  # TODO: once 3.0.0 is released, it should provide type annotations
  "semver",
  "stackprinter",
  "rich",
  "setuptools",
  "py-getch",
  "pydantic",
  "prometheus-client",
]

[dependency-groups]
# All development dependencies are left unpinned, untill we run into troubles with a particular version.
dev = [
  # Install `toml` extra to allow parsing pyproject.toml - no need for special config file for coverage.
  "coverage[toml]",
  "darglint",
  # flake8 5 introduced a bug https://github.com/tholo/pytest-flake8/issues/87
  "flake8 <5.0.0",
  "flake8-docstrings",
  "flake8-use-fstring",
  "isort",
  "mypy",
  "pytest",
  "pre-commit",
  "pytest-flake8",
  "pytest-icdiff",

  #
  # Autogenerated docs
  #
  "sphinx",
  "sphinx-autodoc-typehints",
  "sphinx-typlog-theme",

  # Type stubs fetched by mypy
  "types-requests",
  "types-setuptools",
  "types-urllib3",
]

[project.scripts]
artemis-cli = "tft_artemis_cli.artemis_cli:cli_root"

[build-system]
requires = ["uv_build>=0.9.26,<0.10.0"]
build-backend = "uv_build"

[tool.ruff.format]
indent-style = "space"
line-ending = "lf"
quote-style = "single"
