[tool.poetry]
name = "tft-artemis-cli"
version = "0.0.3"
description = "Command-line tool for Artemis service"
authors = [
    "Milos Prchlik <mprchlik@redhat.com>",
    "Ondrej Ptak <optak@redhat.com>"
]
license = "Apache-2.0"
packages = [
  { include = "tft", from = "src" }
]

[tool.poetry.dependencies]
python = "~3.9.0"
requests = "*"
click = "*"
jq = "*"
jsonschema = "*"
"ruamel.yaml" = "*"
urlnormalizer = "*"
click_completion = "*"
# TODO: once 3.0.0 is released, it should provide type annotations
semver = "*"
stackprinter = "*"
rich = "*"
setuptools = "*"
py-getch = "*"
pydantic = "*"
prometheus-client = "*"

[tool.poetry.dev-dependencies]
# All development dependencies are left unpinned, untill we run into troubles with a particular version.

# Install `toml` extra to allow parsing pyproject.toml - no need for special config file for coverage.
coverage = { version = "*", extras = ["toml"] }
darglint = "*"
# flake8 5 introduced a bug https://github.com/tholo/pytest-flake8/issues/87
flake8 = "<5.0.0"
flake8-docstrings = "*"
flake8-use-fstring = "*"
isort = "*"
mypy = "*"
pytest = "*"
pre-commit = "*"
pytest-flake8 = "*"
pytest-icdiff = "*"

#
# Autogenerated docs
#
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-typlog-theme = "*"

# Type stubs fetched by mypy
types-requests = "*"
types-setuptools = "*"
types-urllib3 = "*"

[tool.poetry.extras]
full = []

[tool.poetry.scripts]
artemis-cli = "tft.artemis_cli.artemis_cli:cli_root"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.ruff.format]
indent-style = "space"
line-ending = "lf"
quote-style = "single"
