openstack:
  credentials:
    # as found in the openrc file
    username: ""
    password: ""
    auth_url: ""
    project_name: ""
    # Set one or the other, if both are set, project_domain_name is used.
    project_domain_name: ""
    project_domain_id: ""
    user_domain_name: ""
    identity_api_version: ""
  vms:
    default_flavor: ci.m1.small
    network_regex: '^provider_net_cci_\d+$'
    security_group: default
    keyname: ""
    post_install_script: "./configuration/userdata_allow_root"

# NOTE(ivasilev) For the moment only one Azure cloud is supported
azure:
  credentials:
    username: ""
    password: ""
  vms:
    # name of the existing resource_group that will be used to create vms
    resource_group: ""
    post_install_script: "./configuration/userdata_allow_root"

aws:
  credentials:
    username: ""
    password: ""
  vms:
    keyname: ""
    availability_zone: ""
    subnet_id: ""
    security_group: ""
    default_flavor: t2.small
    # Adjust these tags accordingly, remove or add new ones
    tags:
      Owner: 'Username'
      ServiceName: 'Artemis'
      ServicePhase: 'Dev'
      ServiceComponent: 'Artemis'
    post_install_script: "./configuration/userdata_allow_root"

    # By default, for EBS backed instances, AWS sets the default root disk size
    # according to the disk size specified in the AMI. In most AMIs
    # the disk size is small and can be different for each AMI.
    #
    # Artemis can enforce a fixed root disk size using the following option.
    # default-root-disk-size: 40  # set root disk size to 40GB

beaker:
  credentials:
    # Your beaker username\password if you want to use per-request auth.
    # If left empty beaker will rely on kerberos to do the auth.
    # username: ""
    # password: ""

keys:
  master:
    # ssh key fingerprint
    fingerprint: ""
    public: |
      ssh-rsa YOURSSHPUBLICKEY
    private: |
      -----BEGIN OPENSSH PRIVATE KEY-----
      YOURSSHPRIVATEKEY
      -----END OPENSSH PRIVATE KEY-----
