openstack:
  credentials:
    # as found in the openrc file
    username: ""
    password: ""
    auth_url: ""
    project_name: ""
    # Set one or the other, if both are set, project_domain_name is used.
    project_domain_name: ""
    project_domain_id: ""
    user_domain_name: ""
    identity_api_version: ""
  vms:
    default_flavor: ci.m1.small
    network_regex: '^provider_net_cci_\d+$'
    security_group: default
    keyname: ""

# NOTE(ivasilev) For the moment only one Azure cloud is supported
azure:
  credentials:
    username: ""
    password: ""
  vms:
    # name of the existing resource_group that will be used to create vms
    resource_group: ""


keys:
  master:
    # ssh key fingerprint
    fingerprint: ""
    public: |
      ssh-rsa YOURSSHPUBLICKEY
    private: |
      -----BEGIN OPENSSH PRIVATE KEY-----
      YOURSSHPRIVATEKEY
      -----END OPENSSH PRIVATE KEY-----
