---

users:
  - name: admin
    role: admin

  - name: artemis

ssh-keys:
  - name: master-key
    owner: artemis
    file: /configuration/master-key.yaml

priority-groups:
  - name: default-priority

pools:
  - name: openstack
    driver: openstack
    parameters:
      username: "{{ openstack.credentials.username }}"
      password: "{{ openstack.credentials.password }}"
      auth-url: "{{ openstack.credentials.auth_url }}"
      project-name: "{{ openstack.credentials.project_name }}"
      {% if openstack.credentials.project_domain_id is defined and openstack.credentials.project_domain_id != "" %}
      project-domain-id: "{{ openstack.credentials.project_domain_id }}"
      {% else %}
      project-domain-name: "{{ openstack.credentials.project_domain_name }}"
      {% endif %}
      user-domain-name: "{{ openstack.credentials.user_domain_name }}"
      api-version: "{{ openstack.credentials.identity_api_version }}"
      master-key-name: "{{ openstack.vms.keyname }}"
      security-group: "{{ openstack.vms.security_group }}"

      default-flavor: "{{ openstack.vms.default_flavor }}"
      network-regex: '{{ openstack.vms.network_regex }}'
      ip-version: "4"
      post-install-script: "{{ openstack.vms.post_install_script }}"

      snapshots: true

  - name: azure
    driver: azure
    parameters:
      username: "{{ azure.credentials.username }}"
      password: "{{ azure.credentials.password }}"
      resource-group: "{{ azure.vms.resource_group }}"
      post-install-script: "{{ azure.vms.post_install_script }}"

      # snapshot feature is not yet implemented for Azure driver
      snapshots: false

  - name: aws
    driver: aws
    parameters:
      command: aws
      master-key-name: "{{ aws.vms.keyname }}"

      # availability zone match chosen subnet
      availability-zone: "{{ aws.vms.availability_zone }}"
      subnet-id: "{{ aws.vms.subnet_id }}"
      security-group: "{{ aws.vms.security_group }}"
      # instance details
      default-instance-type: "{{ aws.vms.default_flavor }}"

      # how many % we bid on the spot instance price. Raise this if we get too many instances terminated.
      spot-price-bid-percentage: 10
      # wait timeout/tick for fulfilling spot request
      spot-request-timeout: 60
      spot-request-tick: 1

      # wait timeout/tick for instance becoming running
      instance-running-timeout: 120
      instance-running-tick: 1

      # tags to add to all created resources
      tags: {{ aws.vms.tags }}
      post-install-script: "{{ aws.vms.post_install_script }}"

      snapshots: False
