---

users:
  - name: artemis

ssh-keys:
  - name: master-key
    owner: artemis
    file: /configuration/master-key.yaml

priority-groups:
  - name: default-priority

pools:
  - name: openstack
    driver: openstack
    parameters:
      username: "{{ openstack.credentials.username }}"
      password: "{{ openstack.credentials.password }}"
      auth-url: "{{ openstack.credentials.auth_url }}"
      project-name: "{{ openstack.credentials.project_name }}"
      {% if openstack.credentials.project_domain_id is defined and openstack.credentials.project_domain_id != "" %}
      project-domain-id: "{{ openstack.credentials.project_domain_id }}"
      {% else %}
      project-domain-name: "{{ openstack.credentials.project_domain_name }}"
      {% endif %}
      user-domain-name: "{{ openstack.credentials.user_domain_name }}"
      api-version: "{{ openstack.credentials.identity_api_version }}"
      master-key-name: "{{ openstack.vms.keyname }}"

      default-flavor: "{{ openstack.vms.default_flavor }}"
      network-regex: '{{ openstack.vms.network_regex }}'
      ip-version: "4"

      snapshots: true

  - name: azure
    driver: azure
    parameters:
      username: "{{ azure.credentials.username }}"
      password: "{{ azure.credentials.password }}"
      resource-group: "{{ azure.vms.resource_group }}"
      # snapshot feature is not yet implemented for Azure driver
      snapshots: false
