credentials:
  # as found in the openrc file
  username: ""
  password: ""
  auth_url: ""
  project_name: ""
  project_domain_name: ""
  user_domain_name: ""
  identity_api_version: ""

keys:
  openstack_key_name: ""
  master:
    # ssh key fingerprint
    fingerprint: ""
    public: |
      ssh-rsa YOURSSHPUBLICKEY
    private: |
      -----BEGIN OPENSSH PRIVATE KEY-----
      YOURSSHPRIVATEKEY
      -----END OPENSSH PRIVATE KEY-----

vms:
  default_flavor: ci.m1.small
  network_regex: '^provider_net_cci_\d+$'
